In [1]:
import sys
sys.path.append('scripts')

import pandas as pd
import warnings

# Suppress all UserWarnings
warnings.filterwarnings("ignore", category=UserWarning)

In [2]:
%load_ext autoreload
%autoreload 2
from utils import *
from key_metrics import *

c:\Users\kenia\anaconda3\envs\cobre\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load data

At the moment of loading data automatically is generated an express and basic EDA analysis

In [3]:
orders_df = load_table('orders', profiling=True)
order_payments_df = load_table('order_payments', profiling=True)
customers_df = load_table('customers', profiling=True)
products_df = load_table('products', profiling=True)
order_items_df = load_table('order_items', profiling=True)
order_reviews_df = load_table('order_reviews', profiling=True)
product_category_name_translation_df = load_table('product_category_name_translation', profiling=True)
sellers_df = load_table('sellers', profiling=True)
geolocation_df = load_table('geolocation', profiling=True)
leads_qualified_df = load_table('leads_qualified', profiling=True)
leads_closed_df = load_table('leads_closed', profiling=True)
# customer = customer_view()

100%|██████████| 8/8 [00:02<00:00,  3.14it/s]03<00:18,  1.71s/it, Describe variable: order_estimated_delivery_date]
Summarize dataset: 100%|██████████| 18/18 [00:03<00:00,  4.77it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.52s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.51it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 221.72it/s]
100%|██████████| 5/5 [00:00<00:00,  9.02it/s]00<00:00,  6.51it/s, Describe variable: payment_value]
Summarize dataset: 100%|██████████| 23/23 [00:01<00:00, 14.65it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.03s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 19.98it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 254.91it/s]
100%|██████████| 5/5 [00:01<00:00,  4.33it/s]01<00:01,  3.25it/s, Describe variable: customer_state]
Summarize dataset: 100%|██████████| 15/15 [00:01<00:00,  8.91it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.48s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 25.60it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 250.81it/s]
100%|██████████| 9/9 [00:00<00:00, 37.20it/s]00<00:00, 30.03it/s, Describe variable: product_width_cm]
Summarize dataset: 100%|██████████| 68/68 [00:03<00:00, 17.85it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.85s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  7.30it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 143.03it/s]
100%|██████████| 7/7 [00:01<00:00,  5.41it/s]01<00:00,  5.12it/s, Describe variable: freight_value]
Summarize dataset: 100%|██████████| 25/25 [00:02<00:00,  9.17it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.76s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 16.61it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 106.09it/s]
100%|██████████| 7/7 [00:02<00:00,  3.26it/s]02<00:01,  3.79it/s, Describe variable: review_answer_timestamp]
Summarize dataset: 100%|██████████| 17/17 [00:03<00:00,  5.57it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.16s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 23.91it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 196.74it/s]
100%|██████████| 2/2 [00:00<00:00, 138.70it/s]<?, ?it/s, Describe variable: product_category_name_english]
Summarize dataset: 100%|██████████| 11/11 [00:00<00:00, 56.14it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.31it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 55.25it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 480.34it/s]
100%|██████████| 4/4 [00:00<00:00, 106.44it/s]<?, ?it/s, Describe variable: seller_state]
Summarize dataset: 100%|██████████| 14/14 [00:00<00:00, 60.36it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.10s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 29.53it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 341.17it/s]
100%|██████████| 5/5 [00:02<00:00,  1.75it/s]03<00:04,  1.49it/s, Describe variable: geolocation_state]
Summarize dataset: 100%|██████████| 23/23 [00:07<00:00,  3.22it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.05s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 20.04it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 369.31it/s]
100%|██████████| 4/4 [00:00<00:00, 42.28it/s]0<00:00, 16.85it/s, Describe variable: origin]
Summarize dataset: 100%|██████████| 13/13 [00:00<00:00, 41.98it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.02it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 40.34it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 407.02it/s]
100%|██████████| 14/14 [00:00<00:00, 195.00it/s]00:02,  7.42it/s, Describe variable: declared_monthly_revenue]
Summarize dataset: 100%|██████████| 28/28 [00:00<00:00, 31.27it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.11s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 11.13it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 212.91it/s]

In [14]:
# basic preprocessing
orders_df['order_purchase_timestamp'] = pd.to_datetime(orders_df['order_purchase_timestamp'])
orders_df['order_approved_at'] = pd.to_datetime(orders_df['order_approved_at'])
orders_df['order_delivered_carrier_date'] = pd.to_datetime(orders_df['order_delivered_carrier_date'])
orders_df['order_delivered_customer_date'] = pd.to_datetime(orders_df['order_delivered_customer_date'])
orders_df['order_estimated_delivery_date'] = pd.to_datetime(orders_df['order_estimated_delivery_date'])

order_items_df['shipping_limit_date'] = pd.to_datetime(order_items_df['shipping_limit_date'])

order_reviews_df['review_creation_date'] = pd.to_datetime(order_reviews_df['review_creation_date'])
order_reviews_df['review_answer_timestamp'] = pd.to_datetime(order_reviews_df['review_answer_timestamp'])

leads_qualified_df['first_contact_date'] = pd.to_datetime(leads_qualified_df['first_contact_date'])
leads_closed_df['won_date'] = pd.to_datetime(leads_closed_df['won_date'])

In [5]:
explore_dataframe(order_payments_df, 'order_payments', detailed=False)
explore_dataframe(orders_df, 'orders', detailed=False)
explore_dataframe(order_items_df, 'order_items', detailed=False)
explore_dataframe(order_reviews_df, 'order_reviews', detailed=False)
explore_dataframe(products_df, 'products', detailed=False)
explore_dataframe(product_category_name_translation_df, 'product_category_name_translation', detailed=False)
explore_dataframe(sellers_df, 'sellers', detailed=False)
explore_dataframe(geolocation_df, 'geolocation', detailed=False)
explore_dataframe(leads_qualified_df, 'leads_qualified', detailed=False)
explore_dataframe(leads_closed_df, 'leads_closed', detailed=False)

================================================================================
DATAFRAME EXPLORATION REPORT - ORDER_PAYMENTS
================================================================================

Dataset shape: 103886 rows × 5 columns
Memory usage: 17.81 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 1 categorical columns suitable for analysis:
  • payment_type
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: payment_type
├─ Unique values: 5
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

Value distribution:
  credit_card         :  76795 ( 73.9%) ████████████████████████████████████
  boleto              :  19784 ( 19.0%) █████████
  voucher             :   5775 (  5.6%) ██
  debit_card          :   1529 (  1.5%)
  not_defined         :      3 (  0.0%)

============================================================
Total categorical columns analyzed: 1
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - ORDERS
================================================================================

Dataset shape: 99441 rows × 8 columns
Memory usage: 58.93 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 1 categorical columns suitable for analysis:
  • order_status
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: order_status
├─ Unique values: 8
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

Value distribution:
  delivered           :  96478 ( 97.0%) ████████████████████████████████████████████████
  shipped             :   1107 (  1.1%)
  canceled            :    625 (  0.6%)
  unavailable         :    609 (  0.6%)
  invoiced            :    314 (  0.3%)
  processing          :    301 (  0.3%)
  created             :      5 (  0.0%)
  approved            :      2 (  0.0%)

============================================================
Total categorical columns analyzed: 1
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - ORDER_ITEMS
================================================================================

Dataset shape: 112650 rows × 7 columns
Memory usage: 39.43 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 0 categorical columns suitable for analysis:

================================================================================
DATAFRAME EXPLORATION REPORT - ORDER_REVIEWS
================================================================================

Dataset shape: 99224 rows × 7 columns
Memory usage: 43.73 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 2 categorical columns suitable for analysis:
  • review_comment_title
  • review_comment_message
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: review_comment_title
├─ Unique values: 4527
├─ Null values: 87656 (88.3%)
└─ Fill rate: 11.7%

──────────────────────────────────────────────────
Column: review_comment_message
├─ Unique values: 36159
├─ Null values: 58247 (58.7%)
└─ Fill rate: 41.3%

============================================================
Total categorical columns analyzed: 2
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - PRODUCTS
================================================================================

Dataset shape: 32951 rows × 9 columns
Memory usage: 6.79 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 1 categorical columns suitable for analysis:
  • product_category_name
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: product_category_name
├─ Unique values: 73
├─ Null values: 610 (1.9%)
└─ Fill rate: 98.1%

============================================================
Total categorical columns analyzed: 1
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - PRODUCT_CATEGORY_NAME_TRANSLATION
================================================================================

Dataset shape: 71 rows × 2 columns
Memory usage: 0.01 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 0 categorical columns suitable for analysis:

================================================================================
DATAFRAME EXPLORATION REPORT - SELLERS
================================================================================

Dataset shape: 3095 rows × 4 columns
Memory usage: 0.66 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 2 categorical columns suitable for analysis:
  • seller_city
  • seller_state
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: seller_city
├─ Unique values: 611
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

──────────────────────────────────────────────────
Column: seller_state
├─ Unique values: 23
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

============================================================
Total categorical columns analyzed: 2
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - GEOLOCATION
================================================================================

Dataset shape: 1000163 rows × 5 columns
Memory usage: 146.09 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 2 categorical columns suitable for analysis:
  • geolocation_city
  • geolocation_state
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: geolocation_city
├─ Unique values: 8011
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

──────────────────────────────────────────────────
Column: geolocation_state
├─ Unique values: 27
├─ Null values: 0 (0.0%)
└─ Fill rate: 100.0%

============================================================
Total categorical columns analyzed: 2
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - LEADS_QUALIFIED
================================================================================

Dataset shape: 8000 rows × 4 columns
Memory usage: 2.38 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 1 categorical columns suitable for analysis:
  • origin
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: origin
├─ Unique values: 10
├─ Null values: 60 (0.8%)
└─ Fill rate: 99.2%

Value distribution:
  organic_search      :   2296 ( 28.7%) ██████████████
  paid_search         :   1586 ( 19.8%) █████████
  social              :   1350 ( 16.9%) ████████
  unknown             :   1099 ( 13.7%) ██████
  direct_traffic      :    499 (  6.2%) ███
  email               :    493 (  6.2%) ███
  referral            :    284 (  3.5%) █
  other               :    150 (  1.9%)
  display             :    118 (  1.5%)
  other_publicities   :     65 (  0.8%)

============================================================
Total categorical columns analyzed: 1
Total categorical columns excluded: 0
============================================================

================================================================================
DATAFRAME EXPLORATION REPORT - LEADS_CLOSED
================================================================================

Dataset shape: 842 rows × 14 columns
Memory usage: 0.60 MB

────────────────────────────────────────────────────────────
CATEGORICAL COLUMNS
────────────────────────────────────────────────────────────
Found 5 categorical columns suitable for analysis:
  • business_segment
  • lead_type
  • lead_behaviour_profile
  • average_stock
  • business_type
============================================================
CATEGORICAL COLUMNS ANALYSIS
============================================================

──────────────────────────────────────────────────
Column: business_segment
├─ Unique values: 33
├─ Null values: 1 (0.1%)
└─ Fill rate: 99.9%

──────────────────────────────────────────────────
Column: lead_type
├─ Unique values: 8
├─ Null values: 6 (0.7%)
└─ Fill rate: 99.3%

Value distribution:
  online_medium       :    332 ( 39.4%) ███████████████████
  online_big          :    126 ( 15.0%) ███████
  industry            :    123 ( 14.6%) ███████
  offline             :    104 ( 12.4%) ██████
  online_small        :     77 (  9.1%) ████
  online_beginner     :     57 (  6.8%) ███
  online_top          :     14 (  1.7%)
  other               :      3 (  0.4%)

──────────────────────────────────────────────────
Column: lead_behaviour_profile
├─ Unique values: 9
├─ Null values: 177 (21.0%)
└─ Fill rate: 79.0%

Value distribution:
  cat                 :    407 ( 48.3%) ████████████████████████
  eagle               :    123 ( 14.6%) ███████
  wolf                :     95 ( 11.3%) █████
  shark               :     24 (  2.9%) █
  cat, wolf           :      8 (  1.0%)
  eagle, wolf         :      3 (  0.4%)
  eagle, cat          :      3 (  0.4%)
  shark, cat          :      1 (  0.1%)
  shark, wolf         :      1 (  0.1%)

──────────────────────────────────────────────────
Column: average_stock
├─ Unique values: 6
├─ Null values: 776 (92.2%)
└─ Fill rate: 7.8%

Value distribution:
  5-20                :     22 (  2.6%) █
  50-200              :     15 (  1.8%)
  1-5                 :     10 (  1.2%)
  20-50               :      8 (  1.0%)
  200+                :      7 (  0.8%)
  unknown             :      4 (  0.5%)

──────────────────────────────────────────────────
Column: business_type
├─ Unique values: 3
├─ Null values: 10 (1.2%)
└─ Fill rate: 98.8%

Value distribution:
  reseller            :    587 ( 69.7%) ██████████████████████████████████
  manufacturer        :    242 ( 28.7%) ██████████████
  other               :      3 (  0.4%)

============================================================
Total categorical columns analyzed: 5
Total categorical columns excluded: 0
============================================================

['business_segment',
 'lead_type',
 'lead_behaviour_profile',
 'average_stock',
 'business_type']

In [11]:
product_category_name_translation_df.product_category_name_english.unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

## Key Metrics and Visualization

In [7]:
conversion_rate_by_payment_method(orders_df, order_payments_df)

  payment_type  conversion_rate  total_payment_value
1  credit_card         0.769351          12542084.19
0       boleto         0.198952           2869361.27
4      voucher         0.038877            379436.87
2   debit_card         0.015366            217989.79
3  not_defined         0.000030                 0.00

In [12]:
average_value_vs_installments(order_payments_df)

    payment_installments  avg_transaction_value
0                      0              94.315000
1                      1             112.420229
2                      2             127.228150
3                      3             142.539317
4                      4             163.976840
5                      5             183.465222
6                      6             209.849952
7                      7             187.673672
8                      8             307.737427
9                      9             203.440870
10                    10             415.085837
11                    11             124.932174
12                    12             321.678496
13                    13             150.462500
14                    14             167.962667
15                    15             445.553108
16                    16             292.694000
17                    17             174.602500
18                    18             486.483333
19                    20             615.801765
20                    21             243.700000
21                    22             228.710000
22                    23             236.480000
23                    24             610.048889

In [15]:
delivery_time_analysis(order_items_df, orders_df)

                             product_id  avg_delivery_time_days
26493  cdad9f8ea258557cae046590bd2ba19c                2.000000
24396  bdf5efab9b8b85e6a49603007646f763                2.000000
1136   08eada1514424f37cd0704a5f45c1e07                2.000000
14022  6c8ddb5440080718b5110d82c7ae1faf                2.000000
28853  dff6fc6c464afef2e1838ae9c787f125                2.000000
...                                 ...                     ...
7345   38841dec90eddf2f43cdfabc48b3831a               97.000000
19571  984a3b9f9bb4c8feb319da951212696e              148.000000
19377  96ea060e41bdecc64e2de00b97068975              530.000000
17494  87b92e06b320e803d334ac23966c80b1              703.333333
5295   282b126b2354516c5f400154398f616d             1056.000000

[32951 rows x 2 columns]

In [16]:
frequent_customers_analysis(orders_df, customers_df)

Empty DataFrame
Columns: [customer_id, total_orders, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [17]:
temporal_trends_analysis(orders_df)

   order_month  total_orders
0      2016-09             4
1      2016-10           324
2      2016-12             1
3      2017-01           800
4      2017-02          1780
5      2017-03          2682
6      2017-04          2404
7      2017-05          3700
8      2017-06          3245
9      2017-07          4026
10     2017-08          4331
11     2017-09          4285
12     2017-10          4631
13     2017-11          7544
14     2017-12          5673
15     2018-01          7269
16     2018-02          6728
17     2018-03          7211
18     2018-04          6939
19     2018-05          6873
20     2018-06          6167
21     2018-07          6292
22     2018-08          6512
23     2018-09            16
24     2018-10             4

In [18]:
customer_satisfaction_analysis(order_reviews_df)

   review_score  total_reviews
4             5          57076
3             4          19098
2             3           8160
1             2           3148
0             1          11393

In [24]:
%reload_ext autoreload

In [27]:
effectiveness_rate, promotions_by_seller, promotions_by_category = promotions_effectiveness_analysis(orders_df, order_payments_df, order_items_df, sellers_df, products_df)
print(f"Overall Effectiveness Rate of Promotions: {effectiveness_rate:.2%}")
display(promotions_by_seller.head(), promotions_by_category.head())

Overall Effectiveness Rate of Promotions: 3.89%

,seller_id,promo_orders_count,total_orders,promo_effectiveness_rate
1017,fa18c782a4866d313cadab567097f8f1,1,1,1.0
1027,fc0b214b59a83615fea981c6424a02ae,1,1,1.0
411,6576fd3e23c88f0e5d4d23f39bba0542,1,1,1.0
175,28d162ab86bb49d719c32f0ee6186eaa,1,1,1.0
139,1fe61aa5494bd3ae92a2c13e067c810f,1,1,1.0

,product_category_name,promo_orders_count,total_orders,promo_effectiveness_rate
41,la_cuisine,2,13,0.153846
55,pc_gamer,1,8,0.125000
35,fashion_roupa_masculina,10,112,0.089286
14,casa_conforto_2,2,24,0.083333
31,fashion_bolsas_e_acessorios,132,1864,0.070815

In [28]:
cross_selling_analysis(order_items_df, products_df)

   num_categories  total_orders
1               0          1389
0               1         96550
2               2           712
3               3            15

In [29]:
location_impact_analysis(customers_df, orders_df)

   customer_state  total_orders
25             SP         41746
18             RJ         12852
10             MG         11635
22             RS          5466
17             PR          5045
23             SC          3637
4              BA          3380
6              DF          2140
7              ES          2033
8              GO          2020
15             PE          1652
5              CE          1336
13             PA           975
12             MT           907
9              MA           747
11             MS           715
14             PB           536
16             PI           495
19             RN           485
1              AL           413
24             SE           350
26             TO           280
20             RO           253
2              AM           148
0              AC            81
3              AP            68
21             RR            46

In [30]:
logistics_impact_analysis(order_items_df, orders_df)

  order_status  total_orders
2    delivered         96478
5      shipped          1106
1     canceled           461
3     invoiced           312
4   processing           301
6  unavailable             6
0     approved             2